<!--fourth section-->
<div class="citySignUpSection mediumSection city-sign-up-background">
    <div class="section-text section-largeWhitespace text-white text-medium">点击进入城市报名</div>
    <div class="section-normalGallery section-bigWhitespace">
        <table class="container-section-gallery-item text-small">
            <td class="section-gallery-item beijing-background text-white"
                onclick="window.location='/cities/beijing.html'">北京</td>
            <td class="section-gallery-item xian-background text-white"
                onclick="window.location='/cities/xian.html'">西安</td>
            <td class="section-gallery-item chengdu-background text-white"
                onclick="window.location='/cities/chengdu.html'">成都</td>
            <td class="section-gallery-item wuhan-background text-white"
                onclick="window.location='/cities/wuhan.html'">武汉</td>
        </table>
    </div>

    <div class="section-leftAlignedText section-largeWhitespace section-hugeHorizontalWhitespace text-white text-little">
        我们追求代码胜于一切! 如果你和我们一样对技术秉持热忱, 来参加吧!
    </div>
    <div class="section-leftAlignedText section-hugeHorizontalWhitespace text-white text-little">
        我们渴望结识更多的伙伴, 一起探索编程世界更多未知的领域, 只要你愿意挑战!
    </div>
    <div class="section-leftAlignedText section-hugeHorizontalWhitespace text-white text-little">
        我们拥有国际化平台和视野, 多元的企业文化, 不要错过, 这将成为你人生路上最难忘的编程之旅体验!
    </div>
</div>