<!--fifth section-->
<div class="pairProgrammingSection mediumSection">
    <div class="section-text section-largeWhitespace text-medium">关于 Pair Programming</div>

    <table class="section-largeEntry section-largeWhitespace">
        <td class="section-largeEntry-icon">
            <video class="section-largeEntry-icon-img" src="video/Pair_Programming.mp4" width="550" controls>
            </video>
            <div style="clear:both"></div>
        </td>
        <td class="section-largeEntry-text">
            <div class="section-entry-text-content">
                <p class="text-small">
                    作为一种敏捷软件开发的方法，结对编程显然能在更有限的时间内创造出更高质的代码。有句话说的好，“一个人走得快，一群人走得远。”集体的智慧往往会放大和持续个体的力量。软件开发其实也是一项集体脑力活，知识的流动在这项活动中非常关键，而结对编程就是一种促进知识流动的行为。在现代互联网如此多变和快速响应的软件行业趋势下，事实已经证明软件从此不再是一个人孤军奋战的工作，而是要求越来越多的多角色多任务的协作。分享思维方式，加速双方成长，营造相互学习的文化，这就是结对编程的最大魅力所在。ThoughtWorks将带你体验。
                </p>
            </div>
        </td>
    </table>
</div>