<!--third section-->
<div class="myActivitySection hugeSection activity-process-background">
    <div class="section-text section-bigWhitespace text-white text-medium">活动流程</div>

    <table class="section-entry section-mediumWhitespace">
        <td class="section-entry-icon activity-one-icon">
            <div class="section-entry-icon-caption text-white text-small">5月16日 - 5月30日</div>
        </td>
        <td class="section-entry-text">
            <div class="section-entry-text-content text-white">
                <p class="text-small">男神女神任你选</p>
                <p class="text-little">进入自己所在的城市, 选择自己心仪的男神女神, 提交代码和"微简历", 让你的男神女神记住你, 去追寻男神女神们的脚步吧!</p>
            </div>
        </td>
    </table>
    <table class="section-entry section-smallWhitespace">
        <td class="section-entry-icon activity-two-icon">
            <div class="section-entry-icon-caption text-white text-small">5月30日 - 6月6日</div>
        </td>
        <td class="section-entry-text">
            <div class="section-entry-text-content text-white">
                <p class="text-small">男神女神反筛选</p>
                <p class="text-little">男神女神会以根据同学们提交的代码和"微简历"进行反选, 等待着幸运的降临吧~ (通过的同学我们会电话联系你哦, 所以一定要留正确的联系方式)</p>
            </div>
        </td>
    </table>
    <table class="section-entry section-smallWhitespace">
        <td class="section-entry-icon activity-three-icon">
            <div class="section-entry-icon-caption text-white text-small">
                <p>6月上旬</p>
                <p>具体时间会再通知哦~</p>
            </div>

        </td>
        <td class="section-entry-text">
            <div class="section-entry-text-content text-white">
                <p class="text-small">OpenDay好福利</p>
                <p class="text-little">所有被男神女神选中的同学将被邀请至ThoughtWorks各地分公司参加开放体验日活动！零距离参观体验全球顶尖IT咨询公司，感受男神女神技术大牛们的风采！（所有报名的同学即使没有获得男神女神的一对一coach的机会，只要你的代码能够打动男神女神，就都有机会参加OpenDay活动哦～）</p>
            </div>
        </td>
    </table>
    <table class="section-entry section-smallWhitespace">
        <td class="section-entry-icon activity-four-icon">
            <div class="section-entry-icon-caption text-white text-small">
                <p>6月上旬 - 7月初</p>
                <p>具体时间会再通知哦~</p>
            </div>
        </td>
        <td class="section-entry-text">
            <div class="section-entry-text-content text-white">
                <p class="text-small">男神女神面对面</p>
                <p class="text-little">ThoughtWorks的男神女神们将为你奉献4期的一对一结对编程培训指导！4期的体验将在ThoughtWorks各地Office实地举办，感受真实办公场景～</p>
            </div>
        </td>
    </table>
    <table class="section-entry section-smallWhitespace">
        <td class="section-entry-icon activity-five-icon">
            <div class="section-entry-icon-caption text-white text-small">
                <p>7月上旬</p>
                <p>具体时间会再通知哦~</p>
            </div>
        </td>
        <td class="section-entry-text">
            <div class="section-entry-text-content text-white">
                <p class="text-small">终极PK拿大奖</p>
                <p class="text-little">最后来一次亲身实战，导师成果验收，现场结对编程终极PK，最后的大奖在向你招手！</p>
            </div>
        </td>
    </table>
</div>