<!--seventh section-->
<div class="smallSection leadership-pride-background">
    <table class="section-subsection">
        <td class="section-subsection-left">
            <div class="section-bigPicture section-bigWhitespace team-member1-background">
            </div>
            <div class="section-text section-smallWhitespace text-white text-medium">
                3600名员工 12个国家 34间办公室
            </div>
            <div class="section-bigPicture section-smallWhitespace team-member2-background">
            </div>
        </td>
        <td class="section-subsection-right">
            <div class="section-text section-largeWhitespace text-white text-small">
                我们对近20年在思想领域的领导力尤为自豪
            </div>

            <div class="section-smallGallery section-mediumWhitespace">
                <table class="container-section-gallery-item">
                    <td class="section-smallGallery-item book-refactor-background"></td>
                    <td class="section-smallGallery-item book-js-background"></td>
                    <td class="section-smallGallery-item book-lean-background"></td>
                </table>
            </div>

            <div class="section-smallGallery section-mediumWhitespace">
                <table class="container-section-gallery-item">
                    <td class="section-smallGallery-item book-measurement-background"></td>
                    <td class="section-smallGallery-item book-anthology-background"></td>
                    <td class="section-smallGallery-item book-mobile-background"></td>
                </table>
            </div>
        </td>
    </table>
</div>