<!--second section-->
<div class="smallSection sign-up-background">
    <div class="section-mediumPicture section-veryLargeWhitespace thoughtworks-elements-background">
    </div>
    <div class="section-text section-smallWhitespace text-white text-small">
        全球最难面试IT公司 结对编程最佳体验之
    </div>
    <div class="section-text section-tinyWhitespace text-white text-large">
        男神女神 <i>1<span class="text-float-up">st</span> SEASON</i>
    </div>
    <div class="section-text section-mediumWhitespace text-white text-tiny">这个夏天与ThoughtWorks的技术大牛们一起踏上Pair Programming Game的奇妙之旅!</div>
    <div class="section-text text-white text-tiny">亲临全球面试最难IT公司, 零距离接触技术大牛;</div>
    <div class="section-text text-white text-tiny">体验自由Geek氛围, 与男神女神们深入交流, 带你实现一场完美的编程体验;</div>
    <div class="section-text text-white text-tiny">四期狂拽酷炫的Pair Programming Game让你感受代码改变世界的力量!</div>
</div>