<!--eighth section-->
<div class="missionSection mediumSection">
    <div class="section-text section-largeWhitespace text-medium">我们的使命</div>

    <div class="section-text section-mediumWhitespace text-small">
        ThoughtWorks的使命是通过软件创造人类更美好的明天，倡导社会责任感，创造公平公正的经济环境。
    </div>
    <div class="section-text section-tinyWhitespace text-small">
        我们引领最具天赋和积极性的ThoughtWorkers致力于：
    </div>

    <div class="section-bigGallery section-mediumWhitespace gallery-RESP">
        <table class="container-section-gallery-item text-small gallery-item-container-RESP">
            <td class="section-bigGallery-item p1-background gallery-item-RESP p1-background-RESP">经营可持续业务</td>
            <td class="section-bigGallery-item p2-background gallery-item-RESP p2-background-RESP">推动IT变革, 追求软件卓越</td>
            <td class="section-bigGallery-item p3-background gallery-item-RESP p3-background-RESP">积极倡导社会和经济公正</td>
        </table>
    </div>

    <div class="section-text section-bigWhitespace text-small">
        这是支撑我们的商业模式的三大核心支柱，他们是ThoughtWorks的基石，影响着我们所做出的每一项决策
    </div>
</div>