body {
  background-color: white;

  font-family: STHeiTi, SimHei;
}

.bodyWrapper {
  background-color: white;
  min-width: 715px;
  max-width: 1440px;

  margin: 0 auto;

  line-height: 180%;
}

a {
  text-decoration: none;
}