.text-white {
  color: white;
}


.text-huge {
  font-size: 35px;
}

.text-large {
  font-size: 30px;
}

.text-medium {
  font-size: 25px;
}

.text-small {
  font-size: 20px;
}

.text-litte {
  font-size: 18px;
}

.text-tiny {
  font-size: 15px;
}

.text-float-up {
  position: relative;
  bottom: 12px;
}