.thoughtworks-elements-background {
  background-image: url('../../images/thoughtworks-elements.png');
}

.thoughtworks-logo-background {
  background-image: url('../../images/thoughtworks-logo.png');
}

.team-member1-background {
  background-image: url('../../images/team-member.png');
}

.team-member2-background {
  background-image: url('../../images/team-member2.png');
}
