.beijing-background-RESP {
  background-size: 160px;
}
.xian-background-RESP {
  background-size: 160px;
}
.chengdu-background-RESP {
  background-size: 120px;
}
.wuhan-background-RESP {
  background-size: 120px;
}

.p1-background-RESP {
  background-size: 160px;
}
.p2-background-RESP {
  background-size: 130px;
}
.p3-background-RESP {
  background-size: 150px;
}
