@mixin section-gallery-item-background {
  background: no-repeat;
}

.beijing-background {
  @include section-gallery-item-background;
  background-image: url("../../images/beijing.png");
  background-size: 70%;
  background-position: 50% 10%;
}

.xian-background {
  @include section-gallery-item-background;
  background-image: url("../../images/xian.png");
  background-size: 80%;
  background-position: 50% 10%;
}

.chengdu-background {
  @include section-gallery-item-background;
  background-image: url("../../images/chengdu.png");
  background-size: 55%;
  background-position: 50% 20%;
}

.wuhan-background {
  @include section-gallery-item-background;
  background-image: url("../../images/wuhan.png");
  background-size: 50%;
  background-position: 50% 15%;
}

.book-refactor-background {
  @include section-gallery-item-background;
  background-image: url("../../images/book-refactor.png");
  background-size: 60%;
  background-position: 50% 50%;
}

.book-js-background {
  @include section-gallery-item-background;
  background-image: url("../../images/book-js.png");
  background-size: 60%;
  background-position: 50% 50%;
}

.book-lean-background {
  @include section-gallery-item-background;
  background-image: url("../../images/book-lean.png");
  background-size: 60%;
  background-position: 50% 50%;
}

.book-measurement-background {
  @include section-gallery-item-background;
  background-image: url("../../images/book-measurement.png");
  background-size: 60%;
  background-position: 50% 50%;
}

.book-anthology-background {
  @include section-gallery-item-background;
  background-image: url("../../images/book-anthology.png");
  background-size: 60%;
  background-position: 50% 50%;
}

.book-mobile-background {
  @include section-gallery-item-background;
  background-image: url("../../images/book-mobile.png");
  background-size: 60%;
  background-position: 50% 50%;
}

.p1-background {
  @include section-gallery-item-background;
  background-image: url("../../images/p1.png");
  background-size: 60%;
  background-position: 50% 20%;
}

.p2-background {
  @include section-gallery-item-background;
  background-image: url("../../images/p2.png");
  background-size: 50%;
  background-position: 50% 20%;
}

.p3-background {
  @include section-gallery-item-background;
  background-image: url("../../images/p3.png");
  background-size: 60%;
  background-position: 50% 20%;
}
