.pair-programming-background {
  background-size: contain;
  background-image: url('../../images/the-game-of-pair.png');
  background-position: 55% 50%;
}

.sign-up-background {
  background-size: cover;
  background-image: url('../../images/sign-up.png');
  background-position: 0 45%;
}

.company-thoughtworks-background {
  background-size: cover;
  background-image: url('../../images/company-thoughtworks.png');
  background-position: 45% 60%;
}

.company-thoughtworks-narrowBackground {
  background-size: cover;
  background-image: url('../../images/company-thoughtworks.png');
  background-position: 45% 75%;
}

.activity-process-background {
  background-color: #0AB0C5;
}

.city-sign-up-background {
  background-color: #A9084D;
}

.leadership-pride-background {
  background-color: #A9084D;
}

@import "sectionBackgrounds_responsive";