.section-hugeWhitespace {
  margin-top: 200px;
}

.section-veryLargeWhitespace {
  margin-top: 150px;
}

.section-largeWhitespace {
  margin-top: 100px;
}

.section-bigWhitespace {
  margin-top: 60px;
}

.section-normalWhitespace {
  margin-top: 50px;
}

.section-mediumWhitespace {
  margin-top: 40px;
}

.section-smallWhitespace {
  margin-top: 20px;
}

.section-tinyWhitespace {
  margin-top: 10px;
}

.section-hugeHorizontalWhitespace{
  margin-left: 18%;
  margin-right: 18%;
}