.section-subsection {
  width: 100%;
  height: 100%;
}

.section-subsection-left {
  vertical-align: top;

  width: 40%;
  padding-left: 130px;
}

.section-subsection-right {
  vertical-align: top;

  width: 60%;
}